body {
    margin: 0;
    font-family: monospace;
    background: black;
    color: #00ff9f;
    text-align: center;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 40px;
    text-shadow: 0 0 10px #00ff9f;
}

.buttons button {
    margin: 10px;
    padding: 12px 20px;
    border: 1px solid #00ff9f;
    background: black;
    color: #00ff9f;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00ff9f;
    color: black;
    transform: scale(1.1);
}

#output {
    margin-top: 40px;
    font-size: 22px;
    min-height: 50px;
    animation: glitch 1s infinite;
}

@keyframes glitch {
    0% { text-shadow: 2px 2px red; }
    50% { text-shadow: -2px -2px blue; }
    100% { text-shadow: 2px 2px red; }
}